*{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}
#div1 {
    height: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes name{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#heading {
    background-color: black;
    display: inline-block;
    font-size: 30px;
    color: #4C5270;
    animation: name 1s linear 1ms 1 normal;
}
nav {
    display: inline-block;
    width: 100%;

}
#links {
    margin-left: 105px;
    display: inline-block;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
}
#home_nav {
    margin-left: 105px;
    display: inline-block;
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 224, 224);
    padding-left: 700px;
    
}
#home_nav a{
    text-decoration: none;
}
#hero_name {
    display: inline-block;
    margin-left: 120px;
    h1{
        display: inline-block;
        padding: 5px;
        font-size: 50px;
    }
    h2{
        display: inline-block;
        font-size: 40px;
        color: rgb(224, 224, 224);
    }
    p {
        width: 500px;
        text-transform:capitalize;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(224, 224, 224);
    }
}

#dp{
    height: 300px;
    width: 300px;
    border: 2px solid #4C5270;
    border-radius: 50%;
    display: inline-block;
    margin-left: 300px;
    overflow: hidden;
    margin-top: 50px;
}
#dp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ----------------------------------main-section--------------------------------------------- */

h6{
    display: inline-block;
    margin-left: 20px;
    margin-top: 70px;
    position: absolute;    
    transform: rotate(90deg);
    font-family: 'Courier New', Courier, monospace;
    color: #4C5270;

}

.vertical-line {
    display: inline-block;
    border-left: 2px solid #36EEE0; /* Creates the line */
    height: auto; /* Sets the height */
    margin-left: 65px; /* Optional: center it */
}

.dot1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        background-color: aqua;
        color: black;
        text-decoration: none;
    }
}

ul{
    margin-top: 130px;
    margin-left: 70px;
    display: inline-block;

}

/*---------------------------------Project-1----------------------------------------------- */

#project1 {
    height: 400px;
    width: 1140px;
    background-color: rgb(23, 23, 23);
    margin-top: 25px;
    padding-left: 40px;
    box-sizing: border-box;
    
    
}
#project1_inside_section1{
    background-color: rgb(23, 23, 23);
    width: 500px;
    height: 385px;
    display: inline-block;
    
    position: relative;
    bottom: 78px;
    h1{
        background-color: rgb(23, 23, 23);
        display: inline-block;
    }
    pre{
        font-size: medium;
        background-color: rgb(23, 23, 23);
        width: 500px;
        margin-top: 10px;
    }
    p{
        font-size: 20px;
        width: 500px;
        background-color: rgb(23, 23, 23);
        margin-top: 10px;
    }
}
#combi1{
    background-color: rgb(23, 23, 23);
    margin-top: 130px;
    font-size: 40px;
    a{
        background-color: rgb(157, 0, 255);
        text-decoration: none;
        font-size: 100%;
        border-radius: 5px;
        display: inline-block;
        
    }
}
#demo1{
    display: inline-block;
}
#git1{
    display: inline-block;
}

#project1_inside_section2{
    height: 380px;
    width: 535px;
    border: solid 2px black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    box-sizing: border-box;
}

#project1_inside_section2 img{
    height: 100%;
    width: 100%;
    object-fit: auto;
    display: inline-block;
}

/*---------------------------------Project2----------------------------------------------- */

#project2 {
    height: 400px;
    width: 1100px;
    background-color: rgb(23, 23, 23);
    display: inline-block;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 40px;
    
}
#project2_inside_section1{
    height: 390px;
    width: 500px;
    display: inline-block;
    background-color: rgb(23, 23, 23);

    position: relative;
    bottom: 78px;

    h1{
        background-color: rgb(23, 23, 23);
        display: inline-block;
    }
    pre{
        font-size: medium;
        background-color: rgb(23, 23, 23);
        width: 500px;
        margin-top: 10px;
    }
    p{
        font-size: 20px;
        width: 500px;
        background-color: rgba(23, 23, 23);
        margin-top: 10px;
    }
}
#combi2{
    background-color: rgb(23, 23, 23);
    margin-top: 130px;
    font-size: 40px;
    a{
        background-color: rgb(157, 0, 255);
        text-decoration: none;
        font-size: 100%;
        border-radius: 5px;
        display: inline-block;
        
    }
}
#demo2{
    display: inline-block;
}
#git2{
    display: inline-block;
}
#project2_inside_section2{
    height: 390px;
    width: 535px;
    display: inline-block;
    margin-left: 30px;
    border: 2px solid black;

}
#project2_inside_section2 img{
    height: 100%;
    width: 100%;
    object-fit: auto;
    display: inline-block;
}

/* --------------------------------------project-3-css------------------------------------------- */

#project3 {
    height: 400px;
    width: 1100px;
    background-color: rgb(23, 23, 23);
    display: inline-block;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 40px;
    
}
#project3_inside_section1{
    height: 390px;
    width: 500px;
    display: inline-block;
    background-color: rgb(23, 23, 23);

    position: relative;
    bottom: 58px;

    h1{
        background-color: rgb(23, 23, 23);
        display: inline-block;
    }
    pre{
        font-size: medium;
        background-color: rgb(23, 23, 23);
        width: 500px;
        margin-top: 10px;
    }
    p{
        font-size: 20px;
        width: 500px;
        background-color: rgba(23, 23, 23);
        margin-top: 10px;
    }
}
#combi3{
    background-color: rgb(23, 23, 23);
    margin-top: 130px;
    font-size: 40px;
    a{
        background-color: rgb(157, 0, 255);
        text-decoration: none;
        font-size: 100%;
        border-radius: 5px;
        display: inline-block;
        
    }
}
#demo3{
    display: inline-block;
}
#git3{
    display: inline-block;
}
#project3_inside_section2{
    height: 390px;
    width: 535px;
    display: inline-block;
    margin-left: 30px;
    border: 2px solid black;

}
#project3_inside_section2 img{
    height: 100%;
    width: 100%;
    object-fit: auto;
    display: inline-block;
}

/*----------------------------------------Education----------------------------------------*/

#education{
    margin-top: 150px;
    
}
#education h1{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#education p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
#section1{
    height: 2px;
    width: 1100px;
    background-color: blue;
    margin-top: 10px;
}
#lpu{
    height: 180px;
    width: 50%;
    margin-top: 10px;
    display: inline-block;
}
#lpu_name{
    display: inline-block;
    height: 20px;
    width: 65%;
    position: relative;
    bottom: 35%;
    p{
        display: inline-block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
#lpu_logo{
    display: inline-block;
}
#lpu_logo img{
    height: 170px;
    width: 100%;
    border-radius: 50%;
    object-fit: auto;
    display: inline-block;
}
#skills{
    margin-top: 50px;
    h1{
        font-size: 50px;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
}
#skills_img{
    height: 200px;
    width: 1100px;
    margin-top: 25px;
    h2{
        display: flex;
        justify-content: center;
    }

}
#skill_box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
#html img{
    height: 180px;
    width: 250px;
    display: inline-block;
    border-radius: 20px;
}
#css img{
    height: 180px;
    width: 250px;
    display: inline-block;
}
#js img{
    height: 180px;
    width: 250px;
    display: inline-block;
    border-radius: 20px;
}
#links_bottom {
    margin-left: 1070px;
    margin-top: 290px;
    display: inline-block;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

/*-------------------------------------------------Rock-paper-game---------------------------------------------------*/
#rock-paper-game-project4 {
    height: 400px;
    width: 1140px;
    background-color: rgb(23, 23, 23);
    margin-top: 25px;
    padding-left: 40px;
    box-sizing: border-box;
    
    
}
#project4_inside_section1 {
    background-color: rgb(23, 23, 23);
    width: 500px;
    height: 385px;
    display: inline-block;
    
    position: relative;
    bottom: 78px;
    h1{
        background-color: rgb(23, 23, 23);
        display: inline-block;
    }
    pre{
        font-size: medium;
        background-color: rgb(23, 23, 23);
        width: 500px;
        margin-top: 10px;
    }
    p{
        font-size: 20px;
        width: 500px;
        background-color: rgb(23, 23, 23);
        margin-top: 10px;
    }
}
#combi4{
    background-color: rgb(23, 23, 23);
    margin-top: 130px;
    font-size: 40px;
    a{
        background-color: rgb(157, 0, 255);
        text-decoration: none;
        font-size: 100%;
        border-radius: 5px;
        display: inline-block;
        
    }
}
#demo4{
    display: inline-block;
}
#git4{
    display: inline-block;
}

#project4_inside_section2{
    height: 380px;
    width: 535px;
    border: solid 2px black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    box-sizing: border-box;
}

#project4_inside_section2 img{
    height: 100%;
    width: 100%;
    object-fit: auto;
    display: inline-block;
}

/*------------------------------------------Currency Converter project 5-------------------------------------------*/

#currency-converter-project-5 {
    height: 400px;
    width: 1140px;
    background-color: rgb(23, 23, 23);
    margin-top: 25px;
    padding-left: 40px;
    box-sizing: border-box;
    
    
}
#project5_inside_section1 {
    background-color: rgb(23, 23, 23);
    width: 500px;
    height: 385px;
    display: inline-block;
    
    position: relative;
    bottom: 78px;
    h1{
        background-color: rgb(23, 23, 23);
        display: inline-block;
    }
    pre{
        font-size: medium;
        background-color: rgb(23, 23, 23);
        width: 500px;
        margin-top: 10px;
    }
    p{
        font-size: 20px;
        width: 500px;
        background-color: rgb(23, 23, 23);
        margin-top: 10px;
    }
}
#combi5{
    background-color: rgb(23, 23, 23);
    margin-top: 130px;
    font-size: 40px;
    a{
        background-color: rgb(157, 0, 255);
        text-decoration: none;
        font-size: 100%;
        border-radius: 5px;
        display: inline-block;
        
    }
}
#demo5{
    display: inline-block;
}
#git5{
    display: inline-block;
}

#project5_inside_section2{
    height: 380px;
    width: 535px;
    border: solid 2px black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    box-sizing: border-box;
}

#project5_inside_section2 img{
    height: 100%;
    width: 100%;
    object-fit: auto;
    display: inline-block;
}

/*-----------------------------------------------------------------------------------*/